section.operation-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.operation-section > h1 {
    font-size: 2rem;
}

.add-operation-content {
    padding: 20px;
    width: 53rem;
    margin: 2rem;
    background: #242424;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

.operation-form {
    background: #242424;
    padding: 2rem;
}

.operation-form > h2 {
    font-size: 1.7rem;
    color: #dddddd;
    margin: 0 0 3rem 0;
    text-align: center;
    font-weight: normal;
}

.form-group {
    margin-bottom: 20px;
    /*width: 100%;
    margin: 0 2rem;*/
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: normal;
}

.form-group input[type="text"],
.form-group input[type="number"] {
    width: 100%;
    padding: 12px;
    background: #2C2C2C;
    font-size: 14px;
    box-sizing: border-box;
    border: 1px solid #F7374FBB;
    border-radius: 0.5rem;
    color: #dddddd;
    transition: all 0.1s ease;
}

.form-group input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-group input[type="text"]:focus,
.form-group input[type="number"]:focus {
    outline: none;
    box-shadow: 0 0 10px 0 rgba(247, 55, 79, 0.67);
}

.form-group > input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1) grayscale(1) brightness(1.5);
    cursor: pointer;
}

.form-group > input[type="date"] {
    width: 100%;
    padding: 12px;
    background: #2C2C2C;
    font-size: 14px;
    box-sizing: border-box;
    border: 1px solid #F7374FBB;
    border-radius: 0.5rem;
    color: #dddddd;
    transition: all 0.1s ease;
    cursor: text;
}

.form-group > input[type="date"]:focus {
    outline: none;
    box-shadow: 0 0 10px 0 rgba(247, 55, 79, 0.67);
}

.form-group > select {
    width: 100%;
    padding: 12px;
    background: #2C2C2C;
    font-size: 14px;
    box-sizing: border-box;
    border: 1px solid #F7374FBB;
    border-radius: 0.5rem;
    color: #dddddd;
    transition: all 0.1s ease;
    cursor: pointer;
    background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 9L12 15L18 9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="white"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.form-group > select:focus {
    outline: none;
    box-shadow: 0 0 10px 0 rgba(247, 55, 79, 0.67);
}

.operation-form > .form-actions {
    display: flex;
    column-gap: 2rem;
    margin-top: 48px;
}

.submit-btn {
    padding: 12px;
    border: none;
    border-radius: 0.5rem;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    transition: all 0.25s ease;
    width: 100%;
    height: 3rem;
    background: linear-gradient(135deg, #F7374F60 0%, #F7374F20 100%);
}

.submit-btn:hover:not(:disabled) {
    opacity: 0.9;
    background: linear-gradient(135deg, #F7374F 0%, #F7374F60 100%);
    box-shadow: 0 0 10px 0 rgba(247, 55, 79, 1);
    transform: translateY(-2px);
    text-shadow: 0 0 8px #ddddddBB;
}

.submit-btn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
